@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1><img src="~/Content/img/logotype.png" /></h1>
    <p class="lead">Компания Сайберс разрабатывает программы и веб-приложения для иностранных заказчиков.Это называется аутсорсинг, и мы занимаемся этим с 1998 года. Наши клиенты живут и работают в США, Европе, Канаде, Австралии, Новой Зеландии.</p>
    <p><a href="http://www.sibers.ru/" class="btn btn-primary btn-lg">Перейти на сайт &raquo;</a></p>
</div>
